{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé avec un lien pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>
        Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou 
        <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
    </p>
{% endblock %}
