{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="container mt-5">
    <h1 class="text-center mb-4">Mot de passe oublié</h1>
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrez votre adresse email, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
			</small>
		</div>

		<button type="submit" class="btn btn-dark w-100 pt-3 " >Envoyer l'email de réinitialisation</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
