{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
	<div style="background-color:  rgba(254, 234, 214, 0.86);" class="container card mt-5  col-md-6 mx-auto p-4 rounded border-2 border-gols shadow" >

 <h1 class="text-center" style="color:rgba(214, 161, 108, 0.86);"><strong>Mot de passe oublié</strong></h1>

		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrez votre adresse email, et nous vous enverrons un lien pour réinitialiser votre mot de passe.<br/><br/>
			</small>
		</div>
		
		<button type="submit" class="btn btn-dark w-100 pt-3 " >Envoyer l'email de réinitialisation</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
