{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d’Utilisation - PrestiTime{% endblock %}

{% block main_banner %}
<div style="background-color:  rgba(250, 242, 242, 0.9);" class="container card mt-5  col-md-6 mx-auto p-4 rounded border-2 border-gols shadow" >
    <h1 class="text-center" style="color: rgba(210, 133, 133, 1)"><strong>Conditions Générales d’Utilisation (CGU)</strong></h1><br></h1>
    <p>En utilisant le site PrestiTime, vous acceptez les conditions ci-dessous :</p>

    <h3> <strong>  Accès au site </strong></h3>
    <p>L’accès est ouvert à tous. Certains services nécessitent la création d’un compte.</p>

    <h3><strong>  Compte utilisateur </strong></h3>
    <p>Les membres sont responsables de la confidentialité de leurs identifiants. Tout usage frauduleux doit être signalé.</p>

    <h3><strong>  Responsabilités </strong></h3>
    <p>PrestiTime ne pourra être tenu responsable en cas de mauvaise utilisation du site ou des produits achetés.</p>

    <h3><strong>  Propriété intellectuelle </strong></h3>
    <p>Les contenus (textes, images, logos) de PrestiTime ne peuvent être utilisés sans autorisation.</p>
</div>
{% endblock %}