{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente - PrestiTime{% endblock %}

{% block main_banner %}
<div style="max-width: 900px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card " ;>
    <h1 class="text-center" style="color:  rgba(204, 138, 73, 0.86)"><strong> Conditions Générales de Vente (CGV) </strong></h1><br>
    <p>Les présentes conditions générales de vente s’appliquent à toutes les commandes passées sur le site PrestiTime.</p>

    <h3><strong>   Produits </strong></h3>
    <p>PrestiTime propose des montres de différentes marques et gammes. Les photos présentées sont non contractuelles.</p>

    <h3><strong>   Prix </strong></h3>
    <p>Les prix indiqués sont en euros TTC. Les frais de livraison peuvent s’ajouter selon l’adresse du client.</p>

    <h3><strong>   Commande </strong></h3>
    <p>Toute commande validée sur le site implique l’acceptation des présentes CGV.</p>

    <h3><strong>   Livraison </strong></h3>
    <p>La livraison est effectuée sous 3 à 5 jours ouvrés en France. En cas de retard, le client sera informé.</p>

    <h3><strong>   Retours </strong></h3>
    <p>Le client dispose de 14 jours pour retourner un produit non utilisé, dans son emballage d’origine.</p>
</div>
{% endblock %}