{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité - PrestiTime{% endblock %}

{% block main_banner %}
<div style="max-width: 900px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card " ;>
    <h1 class="text-center" style="color:rgba(204, 138, 73, 0.86)"><strong> Politique de Confidentialité </strong></h1><br>
    <p>Chez PrestiTime, nous attachons une grande importance à la protection de vos données personnelles.</p>

    <h3><strong>    Collecte des données </strong></h3>
    <p>Nous collectons uniquement les données nécessaires : nom, prénom, email, adresse et historique de commande.</p>

    <h3><strong>    Utilisation des données </strong></h3>
    <p>Vos informations servent uniquement à traiter vos commandes et améliorer votre expérience utilisateur.</p>

    <h3><strong>    Sécurité </strong></h3>
    <p>Vos données sont stockées de manière sécurisée. Nous ne revendons jamais vos informations personnelles.</p>

    <h3><strong>    Droits des utilisateurs </strong></h3>
    <p>Conformément à la réglementation, vous pouvez demander la modification ou la suppression de vos données à tout moment.</p>
</div>
{% endblock %}