{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité - PrestiTime{% endblock %}

{% block main_banner %}
<div style="background-color:  rgba(250, 242, 242, 0.9);" class="container card mt-5  col-md-6 mx-auto p-4 rounded border-2 border-gols shadow" >
    <h1 class="text-center" style="color: rgba(210, 133, 133, 1)"><strong> Politique de Confidentialité </strong></h1><br>
    <p>Chez PrestiTime, nous attachons une grande importance à la protection de vos données personnelles.</p>

    <h3><strong>    Collecte des données </strong></h3>
    <p>Nous collectons uniquement les données nécessaires : nom, prénom, email, adresse et historique de commande.</p>

    <h3><strong>    Utilisation des données </strong></h3>
    <p>Vos informations servent uniquement à traiter vos commandes et améliorer votre expérience utilisateur.</p>

    <h3><strong>    Sécurité </strong></h3>
    <p>Vos données sont stockées de manière sécurisée. Nous ne revendons jamais vos informations personnelles.</p>

    <h3><strong>    Droits des utilisateurs </strong></h3>
    <p>Conformément à la réglementation, vous pouvez demander la modification ou la suppression de vos données à tout moment.</p>
</div>
{% endblock %}