{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
<div style="max-width: 900px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card " ;>
    <h1 class="text-center" style="color: rgba(204, 138, 73, 0.86)"><strong>Mentions légales</strong></h1><br>
    <h4><strong>Nom de l’entreprise</strong> : </h4> <h6>PrestiTime</h6><br>
    <h4><strong>Adresse</strong> :</h4> <h6>9 avenue de Paris, 94300 Vincennes, France </h6><br>
    <h4><strong>Email</strong> :</h4> <h6>wassimslimani44@gmail.com</h6><br>
    <h4><strong>SIRET</strong> : </h4><h6>FR0102030405</h6><br>
    <h4><strong>Directeur de la publication</strong> :</h4> <h6>Wassim Slimani</h6>
</div>
{% endblock %}