{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
<div style="background-color:  rgba(250, 242, 242, 0.9);" class="container card mt-5  col-md-6 mx-auto p-4 rounded border-2 border-gols shadow" >
    <h1 class="text-center" style="color: rgba(210, 133, 133, 1)"><strong>Mentions légales</strong></h1><br>
    <h4><strong>Nom de l’entreprise</strong> : </h4> <h6>PrestiTime</h6><br>
    <h4><strong>Adresse</strong> :</h4> <h6>9 avenue de Paris, 94300 Vincennes, France </h6><br>
    <h4><strong>Email</strong> :</h4> <h6>wassimslimani44@gmail.com</h6><br>
    <h4><strong>SIRET</strong> : </h4><h6>FR0102030405</h6><br>
    <h4><strong>Directeur de la publication</strong> :</h4> <h6>Wassim Slimani</h6>
</div>
{% endblock %}