/*---- 

les breakPoint de bootstrap :
Extra small	None        <576px
Small	sm	            ≥576px
Medium	md	            ≥768px
Large	lg	            ≥992px
Extra large	xl	        ≥1200px
Extra extra large	xxl	≥1400px

----*/


@media (max-width: 768px) {
    .navbar-collapse {
        position: re;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0.5rem 1rem;
    }
    .navbar-brand img{ 
        height:120px; 
        width:auto; 
    }
}

@media (max-width: 320px) {
    .navbar-brand img{ height:110px; width:auto; }               
    .navbar-collapse {
        background: rgb(226, 175, 124);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
    }
}

@media (max-width: 375px) {
    .navbar-brand img{ height:110px; width:auto; }               
    .navbar-collapse {
        background: rgb(226, 175, 124);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
    }
}

@media (max-width: 428px) {
    .navbar-brand img{ height:110px; width:auto; }              
    .navbar-collapse {
        background: rgb(226, 175, 124);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
    }
}


/* mobile (< 992px) : menu burger */
@media (max-width: 768px) {
    /*--nav plus compacte--*/
    .navbar {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

   

    /*--quand le menu est ouvert, mets un fond et de l’espace--*/
    .navbar-collapse {
        
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
    }

    /*--liens plus faciles à cliquer--*/
    .navbar-nav .nav-link {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .navbar-toggler {
        border: none;
    }
}
