body {
    font-family: Arial, sans-serif;
        
}

.watch-card img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

input::placeholder {
    text-align: center;
}

.carousel-item {
    height: 330px;
}
.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.watch-card {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 8px  rgba(241, 193, 145, 0.86);
    border-radius: 12px;
}

.watch-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(241, 193, 145, 0.86);
}
footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    margin-top: 40px;
}
footer h5 {
    font-weight: bold;
}
.sizeSvg20 {
    width: 20px;
    height: 20px;
}



.navbar{ height:110px; padding:0; overflow:visible; }        /* barre fine et fixe */
.navbar .container{ height:100%; display:flex; align-items:center; } /* centrer le contenu */
.navbar-brand img{ height:150px; width:auto; }               /* logo grand (ajuste 90px) */

   








/*--requête média : les styles à l’intérieur ne s’appliqueront que si la largeur de l’écran est inférieure ou égale à 768 pixels--*/
@media (max-width: 768px) {
    h6.card-title {
        font-size: 1rem; /*--définit leur taille de police à 1rem  ( ce qui correspond à environ 16 pixels par défaut )--*/
    }
    .card-text {
        font-size: 0.9rem; /*-- un police peu plus petite que 1rem ( 14.4px (16 × 0.9)--*/
        
    }
}