<!-- Footer -->
			<footer class="text-center text-md-start">
				<div class="container">
					<div class="row">
						<div class="col-md-4 mb-4">
							<h5>Mon compte</h5>
							<ul class="list-unstyled">
								<li>
									<a href="compte" class="text-decoration-none text-dark">Mon compte</a>
								</li>
								<li>
									<a href="panier.html" class="text-decoration-none text-dark">Mon panier</a>
								</li>
							</ul>
						</div>

						<div class="col-md-4 mb-4">
							<h5>Catégories</h5>
							<ul class="list-unstyled">
								<li>
									<a href="" class="text-decoration-none text-dark">Montres homme</a>
								</li>
								<li>
									<a href="" class="text-decoration-none text-dark">Montres femme</a>
								</li>
							</ul>
						</div>

						<div class="col-md-4 mb-4">
							<h5>Newsletter</h5>
							<form class="d-flex mb-3">
								<input type="email" class="form-control me-2" placeholder="Votre adresse email" required/>
								<button class="btn btn-primary" type="submit">S'inscrire</button>
							</form>
							<p>Suivez-nous :</p>
							<a href="#"><img src="{{asset('images/logo/logo.instagram.footer.png')}}" width="24" alt="Instagram" class="me-2"/></a>
							<a href="#"><img src="{{asset('images/logo/logo.facebook.footer.png')}}" width="24" alt="Facebook"/></a>
						</div>
					</div>
					<hr/>
					<div class="text-center pb-2">
						&copy; 2025 Prestitime. Tous droits réservés.
					</div>
				</div>
			</footer>
		

		 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
