{% extends 'base.html.twig' %}

{% block title %}Nouveau marque{% endblock %}
{% block  main_banner %}{% endblock %}


{% block body %}
	<div style="max-width: 1400px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card ">
		<div class=" border-0"><br>
			
			<h1 class=" text-center" style="text-align: center; margin-bottom: 60px; color:rgba(204, 138, 73, 0.86)" class="text-center">
				<strong>
					Crée une nouvelle marque
				</strong>
			</h1>
		</div>
		<div>
		<a class="btn btn-dark mb-3" href="{{ path('app_marque_index') }}">Géstion des marques</a>
		</div>   
    {{ include('marque/_form.html.twig') }}

{% endblock %}
