{% extends 'base.html.twig' %}

{% block title %}Marque{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
	<div style="max-width: 900px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card " ;>

   
    <h1 style="text-align: center; margin-bottom: 30px; color:rgba(214, 161, 108, 0.86);">
			<strong>
				Marque</strong>
		</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ marque.nom }}</td>
            </tr>
        </tbody>
    </table>

   <div ><a href="javascript:history.back()" style="margin-right: 10px; text-decoration: none; padding: 8px 12px; background: #6c757d; color: #fff; border-radius: 4px;">
						Retour</a></div>

    </div>
{% endblock %}
