{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}
{% block main_banner %}{% endblock %}


{% block body %}
	<div style="max-width: 1400px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card ">

   
    <h1 class=" text-center" style="text-align: center; margin-bottom: 60px; color:rgba(204, 138, 73, 0.86)" class="text-center">
				<strong>
					Créer une nouvelle catégorie
				</strong>
			</h1>
        <div><a class="btn btn-dark" href="{{ path('app_categorie_index') }}">Listes des catégories</a></div><br>


    {{ include('categorie/_form.html.twig') }}

</div>
{% endblock %}
